* {
  font-family: "Helvetica Neue", sans-serif;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

.page-container {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.titulo-banner {
  width: 90%;
  margin: 0 auto 30px auto;
  background: #0097a7;
  color: white;
  padding: 35px 25px;
  border-radius: 14px;
  text-align: center;
}

.titulo-banner h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.filtros-row {
  width: 100%;
  margin: 0 auto 25px auto;
  display: flex;
  gap: 25px;
}

.filtro-fieldset {
  flex: 1;
  border: 2px solid #bfbfbf;
  border-radius: 10px;
  padding: 10px 14px 6px 14px;
  position: relative;
  min-height: 65px;
}

.filtro-fieldset legend {
  font-size: 14px;
  color: #616161;
  padding: 0 8px;
  margin-left: 10px;
}

.filtro-select {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  margin-top: 8px;
  appearance: none;
  padding-right: 30px;
}

.btn-box {
  width: 100%;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-agregar {
  background: #0097a7;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  font-weight: 600; 
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}

.btn-agregar:hover {
  background: #007c8a;
}

.tabla {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  table-layout: auto;
}

.tabla th {
  background: #0097a7;
  color: white;
  padding: 16px;
  text-align: left;
  font-size: 15px;
  white-space: nowrap;
}

.tabla td {
  padding: 16px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 15px;
}

.tabla td:nth-child(1),
.tabla th:nth-child(1),
.tabla td:nth-child(2),
.tabla th:nth-child(2) {
  width: 180px;
}
.acciones {
  display: flex;
  gap: 14px;
  align-items: center;
}

.acciones .material-icons {
  cursor: pointer;
  font-size: 22px;
  transition: transform 0.2s;
}

.acciones .ver { color: #0097a7 !important; }
.acciones .editar { color: #0097a7 !important; }
.acciones .eliminar { color: #0097a7!important; }

.acciones .material-icons:hover {
  transform: scale(1.15);
}

.sin-datos {
  text-align: center;
  color: #6c757d;
  padding: 12px;
}


@media (max-width: 880px) {
  .filtros-row {
    flex-direction: column;
    align-items: stretch;
  }
  .filtro-fieldset {
    width: 100%;
  }
  .tabla {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
